body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.button-container {
  display: flex;
  padding-top: 15px;
}

.button-container button {
	
  
  

}

button {
  padding: 10px 20px; /* 10px top/bottom padding, 20px left/right padding */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:last-child {
  margin-left: auto; /* Align the last button to the right */
}

button:hover {
  background-color: #0056b3;
}





@media (min-width: 601px) {
  /* Desktop styles */
  .product-item input[type="text"] {
    flex: 0 0 calc(50% - 10px);
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-item.swipe-delete {
    transform: translateX(-100%);
  }
}

.clear {
  background-color: #dc3545;
  color: white;
}

/* Flexbox container for the table */
#productTable {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Gap between rows */
}

/* Flexbox row for each product item */
.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Styling for input fields */
.product-item input[type="text"] {
	min-width: 0;
  flex: 1;
  padding: 6px;
  margin-right: 10px; /* Spacing between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the read-only result field */
.product-item input[type="text"][readonly] {
  background-color: #ddd; /* Gray background color for read-only field */
  border: none;
}


