body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.product-item input[type="text"] {
  flex: 1;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:last-child {
  margin-left: auto;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 601px) {
  /* Desktop styles */
  .product-item {
    transition: transform 0.3s;
  }

  .product-item.swipe-delete {
    transform: translateX(-100%);
  }
}

.clear {
  background-color: #dc3545;
  color: white;
}

.product-item {
  position: relative;
}

.product-item .price-per-100ud {
  position: absolute;
  right: 10px;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}
